<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Affiliatepluspayment>
            <version>0.4.0</version>
        </Magestore_Affiliatepluspayment>
    </modules>
    <frontend>
         <routers>
            <affiliatepluspayment>
                <use>standard</use>
                <args>
                    <module>Magestore_Affiliatepluspayment</module>
                    <frontName>affiliatepluspayment</frontName>
                </args>
            </affiliatepluspayment>
        </routers>
        <layout>
            <updates>
                <affiliatepluspayment>
                    <file>affiliatepluspayment.xml</file>
                </affiliatepluspayment>
            </updates>
        </layout>
    	<events>
    		<affiliateplus_request_payment_action_offline>
				<observers>
					<affiliatepluspayment>
						<type>singleton</type>
						<class>affiliatepluspayment/observer</class>
						<method>requestPaymentActionOffline</method>
					</affiliatepluspayment>
				</observers>
			</affiliateplus_request_payment_action_offline>
    		<affiliateplus_request_payment_action_bank>
				<observers>
					<affiliatepluspayment>
						<type>singleton</type>
						<class>affiliatepluspayment/observer</class>
						<method>requestPaymentActionBank</method>
					</affiliatepluspayment>
				</observers>
			</affiliateplus_request_payment_action_bank>
            <affiliateplus_request_payment_action_moneybooker>
                <observers>
					<affiliatepluspayment>
						<type>singleton</type>
						<class>affiliatepluspayment/observer</class>
						<method>requestPaymentActionMoneybooker</method>
					</affiliatepluspayment>
				</observers>
            </affiliateplus_request_payment_action_moneybooker>
            <!-- Magic 28/11/2012 -->
            <controller_action_postdispatch_affiliateplus_account_editPost>
                <observers>
                    <affiliatepluspayment>
                        <type>singleton</type>
                        <class>affiliatepluspayment/observer</class>
                        <method>affiliateplusAccountEditPost</method>
                    </affiliatepluspayment>
                </observers>
            </controller_action_postdispatch_affiliateplus_account_editPost>
            <affiliateplus_payment_prepare_data>
                <observers>
                    <affiliatepluspayment>
                        <type>singleton</type>
                        <class>affiliatepluspayment/observer</class>
                        <method>affiliateplusPaymentPrepare</method>
                    </affiliatepluspayment>
                </observers>
            </affiliateplus_payment_prepare_data>
            <!--End -->
    	</events>
		<translate>
        	<modules>
        		<Magestore_Affiliatepluspayment>
        			<files>
        				<default>Magestore_Affiliatepluspayment.csv</default>
        			</files>
        		</Magestore_Affiliatepluspayment>
        	</modules>
        </translate>
    </frontend>
    <adminhtml>
    	<events>
    		<affiliateplus_adminhtml_payment_method_form_offline>
				<observers>
					<affiliatepluspayment>
						<type>singleton</type>
						<class>affiliatepluspayment/observer</class>
						<method>paymentMethodFormOffline</method>
					</affiliatepluspayment>
				</observers>
			</affiliateplus_adminhtml_payment_method_form_offline>
    		<affiliateplus_adminhtml_payment_method_form_bank>
				<observers>
					<affiliatepluspayment>
						<type>singleton</type>
						<class>affiliatepluspayment/observer</class>
						<method>paymentMethodFormBank</method>
					</affiliatepluspayment>
				</observers>
			</affiliateplus_adminhtml_payment_method_form_bank>
            
            <affiliateplus_adminhtml_payment_method_form_moneybooker>
                <observers>
					<affiliatepluspayment>
						<type>singleton</type>
						<class>affiliatepluspayment/observer</class>
						<method>paymentMethodFormMoneybooker</method>
					</affiliatepluspayment>
				</observers>
            </affiliateplus_adminhtml_payment_method_form_moneybooker>
            <affiliateplus_adminhtml_add_account_fieldset>
                <observers>
					<affiliatepluspayment>
						<type>singleton</type>
						<class>affiliatepluspayment/observer</class>
						<method>addMoneybookerEmail</method>
					</affiliatepluspayment>
				</observers>
            </affiliateplus_adminhtml_add_account_fieldset>
			
			<admin_system_config_changed_section_affiliateplus_payment>
				<observers>
					<affiliatepluspayment>
						<type>singleton</type>
						<class>affiliatepluspayment/observer</class>
						<method>checkPaymentMethod</method>
					</affiliatepluspayment>
				</observers>
			</admin_system_config_changed_section_affiliateplus_payment>
            
            <affiliateplus_adminhtml_change_column_payment_grid>
                <observers>
					<affiliatepluspayment>
						<type>singleton</type>
						<class>affiliatepluspayment/observer</class>
						<method>changeColumnPaymentGrid</method>
					</affiliatepluspayment>
				</observers>
            </affiliateplus_adminhtml_change_column_payment_grid>
            <affiliateplus_adminhtml_add_field_payment_form>
                <observers>
					<affiliatepluspayment>
						<type>singleton</type>
						<class>affiliatepluspayment/observer</class>
						<method>addFieldPaymentForm</method>
					</affiliatepluspayment>
				</observers>
            </affiliateplus_adminhtml_add_field_payment_form>
    	</events>
		<translate>
        	<modules>
        		<Magestore_Affiliatepluspayment>
        			<files>
        				<default>Magestore_Affiliatepluspayment.csv</default>
        			</files>
        		</Magestore_Affiliatepluspayment>
        	</modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <affiliatepluspayment>
                <class>Magestore_Affiliatepluspayment_Model</class>
                <resourceModel>affiliatepluspayment_mysql4</resourceModel>
            </affiliatepluspayment>
            <affiliatepluspayment_mysql4>
                <class>Magestore_Affiliatepluspayment_Model_Mysql4</class>
                <entities>
                    <offline>
                        <table>affiliatepluspayment_offline</table>
                    </offline>
                    <bank>
                    	<table>affiliatepluspayment_bank</table>
                    </bank>
                    <bankaccount>
                    	<table>affiliatepluspayment_bankaccount</table>
                    </bankaccount>
                    <moneybooker>
                        <table>affiliatepluspayment_moneybooker</table>
                    </moneybooker>
                </entities>
            </affiliatepluspayment_mysql4>
        </models>
        <resources>
            <affiliatepluspayment_setup>
                <setup>
                    <module>Magestore_Affiliatepluspayment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </affiliatepluspayment_setup>
            <affiliatepluspayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </affiliatepluspayment_write>
            <affiliatepluspayment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </affiliatepluspayment_read>
        </resources>
        <blocks>
            <affiliatepluspayment>
                <class>Magestore_Affiliatepluspayment_Block</class>
            </affiliatepluspayment>
        </blocks>
        <helpers>
            <affiliatepluspayment>
                <class>Magestore_Affiliatepluspayment_Helper</class>
            </affiliatepluspayment>
        </helpers>
        <template>
            <email>
                <affiliateplus_payment_recurring_account_template translate="label" module="affiliatepluspayment">
                    <label>Email template sent to affiliate when withdrawal by recurring</label>
                    <file>affiliatepluspayment/account_recurring.html</file>
                    <type>html</type>
                </affiliateplus_payment_recurring_account_template>
                <affiliateplus_payment_recurring_admin_template translate="label" module="affiliatepluspayment">
                    <label>Email template sent to admin when withdrawal by recurring</label>
                    <file>affiliatepluspayment/admin_recurring.html</file>
                    <type>html</type>
                </affiliateplus_payment_recurring_admin_template>
            </email>
        </template>
    </global>
    <default>
        <affiliateplus>
            <payment>
                <default_method>bank</default_method>
            </payment>
        </affiliateplus>
    	<affiliateplus_payment>
			<paypal>
    			<active>1</active>
				<label>PayPal Payment</label>
                <require_authentication>1</require_authentication>
                <use_for_recurring>1</use_for_recurring>
				<!--<model>affiliateplus/payment/paypal</model>-->
                <helper>affiliatepluspayment/paypal</helper>
                <user_mechant_email_default>1</user_mechant_email_default>
    		</paypal>
    		<offline>
    			<active>1</active>
				<label>Offline Payment</label>
                <require_authentication>0</require_authentication>
				<model>affiliatepluspayment/offline</model>
				<!--<fee_type>percentage</fee_type>
				<fee_value>0</fee_value>-->
    		</offline>
    		<bank>
    			<active>1</active>
				<label>Bank Transfer Payment</label>
                <require_authentication>0</require_authentication>
				<model>affiliatepluspayment/bank</model>
				<!--<fee_type>percentage</fee_type>
				<fee_value>0</fee_value>-->
    		</bank>
            <moneybooker>
                <active>1</active>
                <label>Moneybooker Payment</label>
                <require_authentication>1</require_authentication>
                <use_for_recurring>1</use_for_recurring>
                <user_mechant_email_default>0</user_mechant_email_default>
                <model>affiliatepluspayment/moneybooker</model>
                <helper>affiliatepluspayment/moneybooker</helper>
            </moneybooker>
            <!-- configuration for recurring Payment -->
            <recurring>
                <enable>0</enable>
                <period>30</period>
                <days>0</days>
                <amount_type>percentage</amount_type>
                <amount_value>10</amount_value>
                <max_account>0</max_account>
                <admin_email>1</admin_email>
<!--                <email_address></email_address>-->
                <admin_template>affiliateplus_payment_recurring_admin_template</admin_template>
                <account_email>1</account_email>
                <account_template>affiliateplus_payment_recurring_account_template</account_template>
            </recurring>
    	</affiliateplus_payment>
    </default>
    <crontab>
        <jobs>
            <affiliatepluspayment>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>affiliatepluspayment/cron::recurringPayment</model>
                </run>
            </affiliatepluspayment>
        </jobs>
    </crontab>
</config>
