<?xml version="1.0"?>
<config>
  <modules>
    <Ebluestore_Bulkprice>
      <version>0.1.0</version>
    </Ebluestore_Bulkprice>
  </modules>
  <global>
  	<blocks>
  		<bulkprice>
  			<class>Ebluestore_Bulkprice_Block</class>
  		</bulkprice>
  	</blocks>
    <helpers>
      <bulkprice>
        <class>Ebluestore_Bulkprice_Helper</class>
      </bulkprice>
    </helpers>
	<resources>
	  <bulkprice_setup>
		<setup>
		  <module>Ebluestore_Bulkprice</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </bulkprice_setup>
	  <bulkprice_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </bulkprice_write>
	  <bulkprice_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </bulkprice_read>
	</resources>
  </global>
</config> 