<!--@subject You have got {{var points}} points! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"htmlescape var=$points":"Customer points",
"htmlescape var=$message":"Description"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#FFFFFF; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
	<div style="background:#FFFFFF; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
	<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
		<tr>
			<td align="left" valign="top" style="padding:20px 0 20px 0">
				<table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="470">
					<tr><td align="left" valign="top"  style="border-bottom:1px solid #E0E0E0;">
							You got {{htmlescape var=$points}} points.
                            <div>{{htmlescape var=$message}}</div>
						</td>
					</tr>
					<tr><td align="left" valign="top">
                            <div>
                                <a href="{{store url=""}}">
                                    Home Page
                                </a>
                            </div>
                            <div>
                                <a href="{{store url=""}}customer/account/">
                                    Account
                                </a>
                            </div>
						</td>
					</tr>
				</table>
				<hr>
			</td>
		</tr>
	</table>
	</div>
</body>
