<!--@subject Deal "{{var deal.getName()}}" expired @-->


<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
    <tr>
        <td>
            Dear Administrator!
        </td>
    </tr>
    <tr>
        <td>
            Unfortunately, there were not enough participants for the {{var deal.getDealName()}} deal and it fell through.
        </td>
    </tr>
    <tr>
        <td>
            You can view the deal status, your coupons, and other information on the edit deal page - {{var deal.getEditPage()}}
        </td>
    </tr>     
</table>







