<?xml version="1.0"?>
<config>
    <modules>
        <Olegnax_Athleteslideshow>
            <version>1.0.0</version>
        </Olegnax_Athleteslideshow>
    </modules>
	<frontend>
		<layout>
			<updates>
				<athleteslideshow>
					<file>olegnax/athleteslideshow.xml</file>
				</athleteslideshow>
			</updates>
		</layout>
	</frontend>
    <admin>
        <routers>
			<athleteslideshow>
				<use>admin</use>
				<args>
					<module>Olegnax_Athleteslideshow</module>
					<frontName>athleteslideshow</frontName>
				</args>
			</athleteslideshow>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<olegnax translate="title" module="athleteslideshow">
				<title>Olegnax</title>
				<sort_order>9999</sort_order>
				<children>
                    <athlete translate="title" module="athleteslideshow">
                        <title>Athlete</title>
                        <sort_order>10</sort_order>
                        <children>
                            <athleteslideshow translate="title" module="athleteslideshow">
                                <title>Slideshow</title>
                                <sort_order>120</sort_order>
                                <children>
                                    <items translate="title" module="athleteslideshow">
                                        <title>Athlete slider Slides</title>
                                        <sort_order>0</sort_order>
                                        <action>athleteslideshow/adminhtml_athleteslideshow</action>
                                    </items>
                                    <revolution_items translate="title" module="athleteslideshow">
                                        <title>Revolution slider Slides</title>
                                        <sort_order>0</sort_order>
                                        <action>athleteslideshow/adminhtml_athleterevolution</action>
                                    </revolution_items>
                                    <configuration>
                                        <title>Configuration</title>
                                        <sort_order>1</sort_order>
                                        <action>adminhtml/system_config/edit/section/athleteslideshow</action>
                                    </configuration>
                                </children>
                            </athleteslideshow>
                        </children>
                    </athlete>
				</children>
			</olegnax>
		</menu>
		<acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <athleteslideshow>
                                            <title>Athlete Slideshow</title>
                                        </athleteslideshow>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <olegnax>
                            <title>Olegnax</title>
                            <children>
                                <athlete>
                                    <title>Athlete</title>
                                    <children>
                                        <athleteslideshow>
                                            <title>Slideshow</title>
                                            <children>
                                                <items>
                                                    <title>Athlete slider Slides</title>
                                                </items>
                                                <revolution_items>
                                                    <title>Revolution slider Slides</title>
                                                </revolution_items>
                                                <configuration>
                                                    <title>Configuration</title>
                                                </configuration>
                                            </children>
                                        </athleteslideshow>
                                    </children>
                                </athlete>
                            </children>
                        </olegnax>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>   
    <global>
        <models>
            <athleteslideshow>
                <class>Olegnax_Athleteslideshow_Model</class>
                <resourceModel>athleteslideshow_mysql4</resourceModel>
            </athleteslideshow>
            <athleteslideshow_mysql4>
                <class>Olegnax_Athleteslideshow_Model_Mysql4</class>
                <entities>
                    <slides>
                        <table>athlete_slides</table>
                    </slides>
	                <slides_store>
                        <table>athlete_slides_store</table>
                    </slides_store>
                    <revolution_slides>
                        <table>athlete_revolution_slides</table>
                    </revolution_slides>
	                <revolution_slides_store>
                        <table>athlete_revolution_slides_store</table>
                    </revolution_slides_store>
                </entities>
            </athleteslideshow_mysql4>
        </models>
        <resources>
            <athleteslideshow_setup>
                <setup>
                    <module>Olegnax_Athleteslideshow</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </athleteslideshow_setup>
            <athleteslideshow_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </athleteslideshow_write>
            <athleteslideshow_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </athleteslideshow_read>
        </resources>
        <blocks>
            <athleteslideshow>
                <class>Olegnax_Athleteslideshow_Block</class>
            </athleteslideshow>
        </blocks>
        <helpers>
            <athleteslideshow>
                <class>Olegnax_Athleteslideshow_Helper</class>
            </athleteslideshow>
        </helpers>
    </global>
	<default>
		<athleteslideshow>
			<config>
                <enabled>1</enabled>
                <show>home</show>
                <slider>athlete</slider>
			</config>
            <athlete>
	            <allowWrap>true</allowWrap>
	            <autoHeight>calc</autoHeight>
	            <easing>easeInOutExpo</easing>
	            <fx>scrollVert</fx>
	            <pauseOnHover>true</pauseOnHover>
	            <speed>1200</speed>
	            <sync>true</sync>
	            <timeout>8000</timeout>
                <timeline>true</timeline>
                <responsive_banners>0</responsive_banners>
            </athlete>
            <revolutionslider>
                <delay>9000</delay>
                <startheight>464</startheight>
                <startwidth>960</startwidth>

	            <onHoverStop>on</onHoverStop>
	            <thumbWidth>100</thumbWidth>
	            <thumbHeight>30</thumbHeight>
	            <thumbAmount>3</thumbAmount>
	            <hideThumbs>200</hideThumbs>
                <navigationType>none</navigationType>
                <navigationArrows>solo</navigationArrows>
                <navigationStyle>athlete</navigationStyle>
                <touchenabled>on</touchenabled>

	            <stopAtSlide>-1</stopAtSlide>
	            <stopAfterLoops>-1</stopAfterLoops>

	            <hideCaptionAtLimit></hideCaptionAtLimit>
                <hideAllCaptionAtLilmit></hideAllCaptionAtLilmit>
                <hideSliderAtLimit></hideSliderAtLimit>

	            <fullWidth>on</fullWidth>

	            <shuffle>off</shuffle>
	            <timeline>1</timeline>
                <timeline_position>top</timeline_position>

            </revolutionslider>
		</athleteslideshow>
	</default>
</config>