<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Seoplus>
            <version>0.1.3</version>
        </Magestore_Seoplus>
    </modules>
    <frontend>
    	<layout>
            <updates>
                <seoplus>
                    <file>seoplus.xml</file>
                </seoplus>
            </updates>
        </layout>
		<translate>
            <modules>
                <Magestore_Seoplus>
                    <files>
                        <default>Magestore_Seoplus.csv</default>
                    </files>
                </Magestore_Seoplus>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
		<translate>
            <modules>
                <Magestore_Seoplus>
                    <files>
                        <default>Magestore_Seoplus.csv</default>
                    </files>
                </Magestore_Seoplus>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <seoplus>
                <class>Magestore_Seoplus_Model</class>
            </seoplus>
            <catalogsearch>
				<rewrite>
					<query>Magestore_Seoplus_Model_CatalogSearch_Query</query>
				</rewrite>
			</catalogsearch>
        </models>
        <resources>
            <seoplus_setup>
                <setup>
                    <module>Magestore_Seoplus</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </seoplus_setup>
            <seoplus_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </seoplus_write>
            <seoplus_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </seoplus_read>
        </resources>
        <blocks>
            <seoplus>
                <class>Magestore_Seoplus_Block</class>
            </seoplus>
			<catalogsearch>
				<rewrite>
					<term>Magestore_Seoplus_Block_CatalogSearch_Term</term>
				</rewrite>
			</catalogsearch>
        </blocks>
        <helpers>
            <seoplus>
                <class>Magestore_Seoplus_Helper</class>
            </seoplus>
        </helpers>
        <events>
			<catalogsearch_query_save_before>
				<observers>
					<seoplus_observer>
						<class>seoplus/observer</class>
						<method>catalogsearchQuerySaveBefore</method>												
					</seoplus_observer>
				</observers>
			</catalogsearch_query_save_before>
			<catalogsearch_query_save_after>
				<observers>
					<seoplus_observer>
						<class>seoplus/observer</class>
						<method>catalogsearchQuerySaveAfter</method>												
					</seoplus_observer>
				</observers>
			</catalogsearch_query_save_after>
			<controller_action_predispatch_catalogsearch_result_index>
				<observers>
					<seoplus_observer>
						<class>seoplus/observer</class>
						<method>catalogsearchResultIndex</method>												
					</seoplus_observer>
				</observers>
			</controller_action_predispatch_catalogsearch_result_index>
			<controller_action_predispatch_cms_index_noRoute>
				<observers>
					<seoplus_observer>
						<class>seoplus/observer</class>
						<method>cmsIndexNoroute</method>
					</seoplus_observer>
				</observers>
			</controller_action_predispatch_cms_index_noRoute>
		</events>
    </global>
    <default>
		<seoplus>
			<general>
				<enable>0</enable>
				<cache>1</cache>
				<url_key_prefix>search-</url_key_prefix>
				<url_suffix>.html</url_suffix>
				<meta_title>Search results for: '{fquery}'</meta_title>
				<meta_keywords>search,{fwords}</meta_keywords>
				<meta_description>Search {query}</meta_description>
			</general>
		</seoplus>
	</default>
</config>