<?xml version="1.0"?>
<config>
	<modules>
		<Olegnax_Ajaxcart>
			<version>1.0.0</version>
		</Olegnax_Ajaxcart>
	</modules>
	<frontend>
		<routers>
			<oxajax>
				<use>standard</use>
				<args>
					<module>Olegnax_Ajaxcart</module>
					<frontName>oxajax</frontName>
				</args>
			</oxajax>
		</routers>
		<layout>
			<updates>
				<oxajax>
					<file>olegnax/ajaxcart.xml</file>
				</oxajax>
			</updates>
		</layout>
	</frontend>
	<global>
		<blocks>
			<checkout>
				<rewrite>
					<cart_item_renderer>Olegnax_Ajaxcart_Block_Cart_Item_Renderer</cart_item_renderer>
				</rewrite>
			</checkout>
		</blocks>
		<helpers>
			<oxajax>
				<class>Olegnax_Ajaxcart_Helper</class>
			</oxajax>
			<catalog>
				<rewrite>
					<product_compare>Olegnax_Ajaxcart_Helper_Product_Compare</product_compare>
				</rewrite>
			</catalog>
		</helpers>
		<models>
			<oxajax>
				<class>Olegnax_Ajaxcart_Model</class>
			</oxajax>
		</models>
		<events>
			<controller_front_init_routers>
				<observers>
					<olegnax_ajaxcart_model_observer>
						<type>singleton</type>
						<class>Olegnax_Ajaxcart_Model_Observer</class>
						<method>saveUrl</method>
					</olegnax_ajaxcart_model_observer>
				</observers>
			</controller_front_init_routers>
		</events>
	</global>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<oxajax>
											<title>Olegnax AjaxCart</title>
										</oxajax>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<oxajax>
			<general>
				<status>1</status>
				<jquery>1</jquery>
				<quick_view>1</quick_view>
				<wishlist>1</wishlist>
				<compare>1</compare>
			</general>
		</oxajax>
	</default>
</config>