<?xml version="1.0"?>
<config>
  <modules>
    <Ebluestore_Newsletter>
      <version>1.6.0.2</version>
    </Ebluestore_Newsletter>
  </modules>
  <frontend>
    <routers>
      <newsletter>
        <use>standard</use>
          <args>
            <module before="Mage_Newsletter">Ebluestore_Newsletter</module>
            <frontName>newsletter</frontName>
          </args>
      </newsletter>
    </routers>
  </frontend>
  <global>
    <models>
        <newsletter>
            <rewrite>
                <subscriber>Ebluestore_Newsletter_Model_Subscriber</subscriber>
            </rewrite>
        </newsletter>
    </models>
    <helpers>
      <newsletter>
        <class>Ebluestore_Newsletter_Helper</class>
      </newsletter>
    </helpers>
	<resources>
	  <newsletter_setup>
		<setup>
		  <module>Ebluestore_Newsletter</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </newsletter_setup>
	  <newsletter_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </newsletter_write>
	  <newsletter_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </newsletter_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <newsletter>
	    <use>admin</use>
		<args>
		  <module>Ebluestore_Newsletter</module>
		  <frontName>newsletter</frontName>
		</args>
	  </newsletter>
	</routers>
  </admin>
</config>