<?xml version="1.0"?>
<config>
    <modules>
        <Devinc_Occ>
            <version>0.1.0</version>
        </Devinc_Occ>
    </modules>
    <frontend>
        <routers>
            <occ>
                <use>standard</use>
                <args>
                    <module>Devinc_Occ</module>
                    <frontName>occ</frontName>
                </args>
            </occ>            
			<checkout>
				<args>
					<modules>
						<occ before="Mage_Checkout_CartController">
							Devinc_Occ_CartController
						</occ>
					</modules>
				</args>
			</checkout>
        </routers>
        <layout>
            <updates>
                <occ>
                    <file>occ.xml</file>
                </occ>
            </updates>
        </layout>
        <translate>
            <modules>
                <occ>
                    <files>
                        <default>Occ.csv</default>
                    </files>
                </occ>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
		<acl>
			<resources>
				<admin>
					<children>						
						<system>
						   <children>
							<config>
							 <children>
							  <occ translate="title" module="occ">
							   <title>One Click Checkout</title>
							   <sort_order>20</sort_order>
							  </occ>
							 </children>
							</config>
						   </children>
						  </system>						
					</children>
				</admin>			
			</resources>
		</acl>
    </adminhtml>   
    <global>
        <models>
            <occ>
                <class>Devinc_Occ_Model</class>
            </occ>
        </models>
        <resources>
            <occ_setup>
                <setup>
                    <module>Devinc_Occ</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </occ_setup>
        </resources>
        <blocks>
            <occ>
                <class>Devinc_Occ_Block</class>
            </occ>
        </blocks>
        <helpers>
            <occ>
                <class>Devinc_Occ_Helper</class>
            </occ>
        </helpers>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <add_enterprise_css>
                        <type>singleton</type>
                        <class>occ/observer</class>
                        <method>updateBlocksBefore</method>
                    </add_enterprise_css>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <occ_update_blocks>
                        <type>singleton</type>
                        <class>occ/observer</class>
                        <method>updateBlocksAfter</method>
                    </occ_update_blocks>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </global>	
</config>