<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Seobytag>
            <version>0.1.3</version>
        </Magestore_Seobytag>
    </modules>
    <frontend>
        <layout>
            <updates>
                <seobytag>
                    <file>seobytag.xml</file>
                </seobytag>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magestore_Seobytag>
                    <files>
                        <default>Magestore_Seobytag.csv</default>
                    </files>
                </Magestore_Seobytag>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Magestore_Seobytag>
                    <files>
                        <default>Magestore_Seobytag.csv</default>
                    </files>
                </Magestore_Seobytag>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <seobytag>
                <class>Magestore_Seobytag_Model</class>
            </seobytag>
            <tag>
                <rewrite>
                    <tag>Magestore_Seobytag_Model_Tag_Tag</tag>
                </rewrite>
            </tag>
        </models>
        <resources>
            <seobytag_setup>
                <setup>
                    <module>Magestore_Seobytag</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </seobytag_setup>
            <seobytag_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </seobytag_write>
            <seobytag_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </seobytag_read>
        </resources>
        <blocks>
            <seobytag>
                <class>Magestore_Seobytag_Block</class>
            </seobytag>
        </blocks>
        <helpers>
            <seobytag>
                <class>Magestore_Seobytag_Helper</class>
            </seobytag>
        </helpers>
        <events>
           <controller_action_predispatch_tag_product_list>
                <observers>
                    <seobytag_observer>
                        <class>seobytag/observer</class>
                        <method>tagProductList</method>
                    </seobytag_observer>
                </observers>
            </controller_action_predispatch_tag_product_list>
			<controller_action_predispatch_cms_index_noRoute>
				<observers>
                    <seobytag_observer>
                        <class>seobytag/observer</class>
                        <method>cmsIndexNoroute</method>
                    </seobytag_observer>
                </observers>
			</controller_action_predispatch_cms_index_noRoute>
        </events>
    </global>
    <default>
        <seoplus>
            <seobytag>
                <enable>0</enable>
                <cache>1</cache>
                <url_key_prefix>tag-</url_key_prefix>
                <url_suffix>.html</url_suffix>
                <meta_title>Products tagged with: '{ftag}'</meta_title>
                <meta_keywords>product,tag,{fwords}</meta_keywords>
                <meta_description>Product tag {tag}</meta_description>
            </seobytag>
        </seoplus>
    </default>
</config>