<?xml version="1.0"?>
<config>
    <modules>
        <Eb_Ajaxcatalog>
            <version>0.1.0</version>
        </Eb_Ajaxcatalog>
    </modules>
    <frontend>
        <routers>
            <ajaxcatalog>
                <use>standard</use>
                <args>
                    <module>Eb_Ajaxcatalog</module>
                    <frontName>ajaxcatalog</frontName>
                </args>
            </ajaxcatalog>
        </routers>
        <layout>
            <updates>
                <ajaxcatalog>
                    <file>ajaxcatalog.xml</file>
                </ajaxcatalog>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<ajaxcatalog>
				<use>admin</use>
				<args>
					<module>Eb_Ajaxcatalog</module>
					<frontName>ajaxcatalog</frontName>
				</args>
			</ajaxcatalog>
        </routers>
    </admin>
    <adminhtml>

		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Eb_Ajaxcatalog>
							<title>Ajaxcatalog Module</title>
							<sort_order>10</sort_order>
						</Eb_Ajaxcatalog>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<ajaxcatalog>
					<file>ajaxcatalog.xml</file>
				</ajaxcatalog>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <ajaxcatalog>
                <class>Eb_Ajaxcatalog_Model</class>
                <resourceModel>ajaxcatalog_mysql4</resourceModel>
            </ajaxcatalog>
            <ajaxcatalog_mysql4>
                <class>Eb_Ajaxcatalog_Model_Mysql4</class>
                <entities>
                    <ajaxcatalog>
                        <table>ajaxcatalog</table>
                    </ajaxcatalog>
                </entities>
            </ajaxcatalog_mysql4>
        </models>
        <resources>
            <ajaxcatalog_setup>
                <setup>
                    <module>Eb_Ajaxcatalog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxcatalog_setup>
            <ajaxcatalog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxcatalog_write>
            <ajaxcatalog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxcatalog_read>
        </resources>
        <blocks>
            <ajaxcatalog>
                <class>Eb_Ajaxcatalog_Block</class>
            </ajaxcatalog>
        </blocks>
        <helpers>
            <ajaxcatalog>
                <class>Eb_Ajaxcatalog_Helper</class>
            </ajaxcatalog>
        </helpers>
		<rewrite>
			<Eb_Ajaxcatalog_CatalogSearch_Result>
				<from><![CDATA[#^/catalogsearch/result#]]></from>
				<to>/ajaxcatalog/result</to>
			</Eb_Ajaxcatalog_CatalogSearch_Result>
			<Eb_Ajaxcatalog_Category_View>
				<from><![CDATA[#^catalog/category/view#]]></from>
				<to>/ajaxcatalog/category/view</to>
			</Eb_Ajaxcatalog_Category_View>
		</rewrite>
    </global>
</config>
