<?xml version="1.0"?>
<config>
	<modules>
		<Olegnax_Athlete>
			<version>1.4.1</version>
		</Olegnax_Athlete>
	</modules>
	<frontend>
		<layout>
			<updates>
				<athlete>
					<file>olegnax/athlete.xml</file>
				</athlete>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<athlete>
				<use>admin</use>
				<args>
					<module>Olegnax_Athlete</module>
					<frontName>athlete</frontName>
				</args>
			</athlete>
			<adminhtml>
                <args>
                    <modules>
                        <athlete before="Mage_Adminhtml">Olegnax_Athlete_Adminhtml</athlete>
                    </modules>
                </args>
            </adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
            <updates>
                <athlete>
                    <file>olegnax/athlete.xml</file>
                </athlete>
            </updates>
        </layout>
		<menu>
			<olegnax translate="title" module="athlete">
				<title>Olegnax</title>
				<sort_order>9999</sort_order>
				<children>
					<athlete translate="title" module="athlete">
						<title>Athlete</title>
						<sort_order>10</sort_order>
						<children>
							<settings translate="title" module="athlete">
								<title>Theme Settings</title>
								<sort_order>10</sort_order>
								<action>adminhtml/system_config/edit/section/athlete</action>
							</settings>
							<appearance translate="title" module="athlete">
								<title>Theme Appearance</title>
								<sort_order>20</sort_order>
								<action>adminhtml/system_config/edit/section/athlete_appearance</action>
							</appearance>
							<brands translate="title" module="athlete">
								<title>Brands Settings</title>
								<sort_order>30</sort_order>
								<action>adminhtml/system_config/edit/section/athlete_brands</action>
							</brands>
                            <bannerslider translate="title" module="athlete">
								<title>Banner slider</title>
								<sort_order>40</sort_order>
	                            <children>
		                            <groups translate="title" module="athlete">
			                            <title>Slider Groups</title>
			                            <sort_order>10</sort_order>
			                            <action>athlete/adminhtml_bannerslider_group</action>
		                            </groups>
		                            <slides translate="title" module="athlete">
			                            <title>Slides</title>
			                            <sort_order>20</sort_order>
			                            <action>athlete/adminhtml_bannerslider</action>
		                            </slides>
	                            </children>
							</bannerslider>
							<restore translate="title" module="athlete">
								<title>Restore Defaults</title>
								<sort_order>50</sort_order>
								<action>athlete/adminhtml_restore</action>
							</restore>
						</children>
					</athlete>
				</children>
			</olegnax>
		</menu>
		<translate>
			<modules>
				<olegnax>
					<files>
						<default>Olegnax_Athlete.csv</default>
					</files>
				</olegnax>
			</modules>
		</translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<athlete>
											<title>Athlete Settings</title>
										</athlete>
										<athlete_appearance>
											<title>Athlete Appearance</title>
										</athlete_appearance>
										<athlete_brands>
											<title>Athlete Brands</title>
										</athlete_brands>
									</children>
								</config>
							</children>
						</system>
						<olegnax>
							<children>
								<athlete>
									<title>Athlete</title>
									<children>
										<settings>
											<title>Settings</title>
										</settings>
										<appearance>
											<title>Appearance</title>
										</appearance>
										<brands>
											<title>Brands</title>
										</brands>
                                        <bannerslider>
                                            <title>Banner slider</title>
	                                        <children>
		                                        <groups>
			                                        <title>Slider Groups</title>
		                                        </groups>
		                                        <slides>
			                                        <title>Slides</title>
		                                        </slides>
		                                    </children>
                                        </bannerslider>
										<restore>
											<title>Restore Defaults</title>
										</restore>
									</children>
								</athlete>
							</children>
						</olegnax>
					</children>
				</admin>
			</resources>
		</acl>
		<events>
			<admin_system_config_section_save_after>
				<observers>
					<athlete>
						<class>athlete/system_config_save</class>
						<method>regenerateCss</method>
					</athlete>
				</observers>
			</admin_system_config_section_save_after>
		</events>
	</adminhtml>
	<global>
		<blocks>
			<athlete>
				<class>Olegnax_Athlete_Block</class>
			</athlete>
		</blocks>
		<helpers>
			<athlete>
				<class>Olegnax_Athlete_Helper</class>
			</athlete>
		</helpers>
		<models>
			<athlete>
				<class>Olegnax_Athlete_Model</class>
                <resourceModel>athlete_mysql4</resourceModel>
			</athlete>
            <athlete_mysql4>
                <class>Olegnax_Athlete_Model_Mysql4</class>
                <entities>
                    <bannerslider_slides>
                        <table>athlete_bannerslider_slides</table>
                    </bannerslider_slides>
                    <bannerslider_slides_store>
                        <table>athlete_bannerslider_slides_store</table>
                    </bannerslider_slides_store>
	                <bannerslider_slides_group>
                        <table>athlete_bannerslider_slides_group</table>
                    </bannerslider_slides_group>
                </entities>
            </athlete_mysql4>
		</models>
		<resources>
			<athlete_setup>
				<setup>
					<module>Olegnax_Athlete</module>
					<class>Olegnax_Athlete_Model_Resource_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</athlete_setup>
			<athlete_write>
				<connection>
					<use>core_write</use>
				</connection>
			</athlete_write>
			<athlete_read>
				<connection>
					<use>core_read</use>
				</connection>
			</athlete_read>
		</resources>
	</global>
	<default>
		<athlete>
			<features>
				<prev_next>1</prev_next>
				<totop>1</totop>
			</features>
			<layout>
				<responsive>1</responsive>
				<max_width>1280</max_width>
				<fluid>0</fluid>
			</layout>
			<header>
				<menu>1</menu>
				<sticky>0</sticky>
				<top_links>0</top_links>
				<logo_width>153</logo_width>
				<logo_padding>30</logo_padding>
				<search>0</search>
				<header_mobile>full-header</header_mobile>
			</header>
			<footer>
				<cms_block>athlete_footer_3col_newsletter</cms_block>
			</footer>
			<social>
				<facebook>olegnax</facebook>
				<facebook_scheme>dark</facebook_scheme>
				<twitter>olegnax</twitter>
				<tweets_num>2</tweets_num>
				<consumerkey></consumerkey>
				<consumersecret></consumersecret>
				<accesstoken></accesstoken>
				<accesstokensecret></accesstokensecret>
			</social>
			<labels>
				<new_label_text>HOT</new_label_text>
				<sale_label_text>SALE</sale_label_text>
				<new_label>1</new_label>
				<new_label_position>bottom-left</new_label_position>
				<sale_label>1</sale_label>
				<sale_label_position>bottom-left</sale_label_position>
				<product_view_new_label_position>top-right</product_view_new_label_position>
				<product_view_sale_label_position>top-left</product_view_sale_label_position>
			</labels>
			<images>
				<zoom>cloudzoom</zoom>
				<width></width>
				<height></height>
				<keep_ratio>1</keep_ratio>
			</images>
			<cloudzoom>
				<position>right</position>
				<lens_opacity>50</lens_opacity>
				<zoom_width></zoom_width>
				<zoom_height></zoom_height>
				<big_image_width>700</big_image_width>
				<big_image_height></big_image_height>
				<tint_color></tint_color>
				<tint_opacity>50</tint_opacity>
				<soft_focus>0</soft_focus>
				<smooth_move>3</smooth_move>
			</cloudzoom>
			<listing>
				<products_per_row>3</products_per_row>
				<product_img_width>296</product_img_width>
				<toolbar_bottom>1</toolbar_bottom>
				<grid_name>1</grid_name>
				<grid_price>1</grid_price>
				<grid_cart>0</grid_cart>
				<list_rating>1</list_rating>
				<list_actions>1</list_actions>
				<list_price>1</list_price>
				<hover_rating>1</hover_rating>
				<hover_actions>1</hover_actions>
				<hover_image>1</hover_image>
				<hover_image_col>position</hover_image_col>
				<hover_image_label>2</hover_image_label>
			</listing>
			<product_info>
				<second_price>1</second_price>
				<sku>1</sku>
				<reviews>5</reviews>
				<social>1</social>
				<tab_description>1</tab_description>
				<tab_additional>1</tab_additional>
				<tab_tags>1</tab_tags>
			</product_info>
			<sliders>
				<banner_autoscroll>0</banner_autoscroll>
				<banner_scroll_items>item</banner_scroll_items>
				<banner_rewind>0</banner_rewind>
				<product_autoscroll>0</product_autoscroll>
				<product_scroll_items>item</product_scroll_items>
				<product_rewind>0</product_rewind>
			</sliders>
		</athlete>
		<athlete_appearance>
			<main>
				<enable_font>1</enable_font>
				<font>Open Sans</font>
				<color>#ffe51e</color>
				<button_color>#000000</button_color>
				<button_bg_color></button_bg_color>
				<button_hover_color>#ffffff</button_hover_color>
				<button_bg_hover_color>#000000</button_bg_hover_color>
				<button_icons>black</button_icons>
				<inverted_button_icons>white</inverted_button_icons>
				<title_font></title_font>
				<title_color></title_color>
				<price_font></price_font>
				<price_color></price_color>
				<price_old_color></price_old_color>
				<price_text_color></price_text_color>
				<new_price_color>#f64126</new_price_color>
				<sale_price_color>#00b9d5</sale_price_color>
				<label_color></label_color>
			</main>
			<header>
				<header_bg>#000000</header_bg>
				<logo_bg></logo_bg>
				<top_bar_bg>#202020</top_bar_bg>
				<top_bar_color>#d9d9d9</top_bar_color>
				<top_bar_hover_color>#000000</top_bar_hover_color>
				<top_bar_hover_bg_color></top_bar_hover_bg_color>
				<search_bg></search_bg>
				<search_color></search_color>
				<search_icon>black</search_icon>
			</header>
			<header_dropdown>
				<top_dropdown_container></top_dropdown_container>
				<top_dropdown_cart_bg_color></top_dropdown_cart_bg_color>
				<top_dropdown_buttons_bg></top_dropdown_buttons_bg>
				<top_dropdown_buttons_icon>white</top_dropdown_buttons_icon>
				<top_dropdown_color></top_dropdown_color>
				<top_dropdown_hover_color></top_dropdown_hover_color>
				<top_dropdown_hover_bg_color></top_dropdown_hover_bg_color>
			</header_dropdown>
			<navigation>
				<top_nav_bg></top_nav_bg>
				<top_nav_color></top_nav_color>
				<top_nav_hover_color></top_nav_hover_color>
				<top_nav_hover_bg_color></top_nav_hover_bg_color>
				<top_nav_font></top_nav_font>
				<top_nav_font_size>18</top_nav_font_size>
				<sub_nav_container></sub_nav_container>
				<sub_nav_icons>black</sub_nav_icons>
				<sub_nav_text_color></sub_nav_text_color>
				<sub_nav_color></sub_nav_color>
				<sub_nav_hover_color></sub_nav_hover_color>
				<sub_nav_hover_bg_color></sub_nav_hover_bg_color>
				<mm_border_color></mm_border_color>
			</navigation>
			<content_banners>
				<bg>#f7f7f7</bg>
				<content_banner_font></content_banner_font>
				<content_banner_font_size></content_banner_font_size>
				<title_bg>#000000</title_bg>
				<title_color>#ffffff</title_color>
				<link_bg></link_bg>
				<link_color>#000000</link_color>
				<link_hover_bg>#000000</link_hover_bg>
				<link_hover_color>#ffffff</link_hover_color>
				<icon>black</icon>
			</content_banners>
			<banners_slider>
                <slide_bg>#cccccc</slide_bg>
                <text_color>#ffffff</text_color>
                <text_bg>#000000</text_bg>
				<text_hover_color>#000000</text_hover_color>
				<text_bg_hover_color></text_bg_hover_color>
                <link_color>#000000</link_color>
                <link_bg></link_bg>
            </banners_slider>
			<content>
				<content_bg>#ffffff</content_bg>
				<content_border_bg></content_border_bg>
				<content_color></content_color>
				<content_link_bg></content_link_bg>
				<content_link_color></content_link_color>
				<content_link_hover_bg>#000000</content_link_hover_bg>
				<content_link_hover_color>#ffffff</content_link_hover_color>
			</content>
			<footer>
				<footer_bg>#000000</footer_bg>
				<footer_border></footer_border>
				<footer_title_font></footer_title_font>
				<footer_title_color></footer_title_color>
				<footer_text_color></footer_text_color>
				<footer_link_color></footer_link_color>
				<footer_link_hover_color></footer_link_hover_color>
				<footer_link_hover_bg_color></footer_link_hover_bg_color>
				<footer_newsletter_bg></footer_newsletter_bg>
				<footer_button_color></footer_button_color>
				<footer_button_bg_color></footer_button_bg_color>
				<footer_button_hover_color></footer_button_hover_color>
				<footer_button_bg_hover_color></footer_button_bg_hover_color>
				<copyright_bg>#141414</copyright_bg>
				<copyright_color>#666666</copyright_color>
				<copyright_link_color>#888888</copyright_link_color>
				<copyright_hover_bg></copyright_hover_bg>
				<copyright_hover_color></copyright_hover_color>
			</footer>
			<sidebar>
				<block_border></block_border>
				<block_items_border></block_items_border>
				<block_bg></block_bg>
				<block_title_font></block_title_font>
				<block_title_font_size></block_title_font_size>
				<block_title_color></block_title_color>
				<block_text_color></block_text_color>
				<block_link_color></block_link_color>
				<block_link_hover_color></block_link_hover_color>
				<block_link_hover_bg></block_link_hover_bg>
				<block_link_icons>black</block_link_icons>
				<button_color></button_color>
				<button_bg_color></button_bg_color>
				<button_hover_color></button_hover_color>
				<button_bg_hover_color></button_bg_hover_color>
				<!-- poll block -->
				<block_poll_q_bg></block_poll_q_bg>
				<block_poll_q_color></block_poll_q_color>
			</sidebar>
			<messages>
				<success_bg></success_bg>
				<success_color></success_color>
				<error_bg></error_bg>
				<error_color></error_color>
				<notice_bg></notice_bg>
				<notice_color></notice_color>
			</messages>
			<pager>
				<pager_bg></pager_bg>
				<pager_color></pager_color>
				<pager_icons>white</pager_icons>
				<pager_link_bg></pager_link_bg>
				<pager_link_color></pager_link_color>
				<pager_link_hover_bg></pager_link_hover_bg>
				<pager_link_hover_color></pager_link_hover_color>
				<pager_dropdown_bg>#000000</pager_dropdown_bg>
				<pager_dropdown_color>#acacac</pager_dropdown_color>
				<pager_dropdown_link_color>#ffffff</pager_dropdown_link_color>
				<pager_dropdown_link_hover_color>#000000</pager_dropdown_link_hover_color>
				<pager_dropdown_link_hover_bg></pager_dropdown_link_hover_bg>
			</pager>
			<arrows>
				<banners_slider_bg>#000000</banners_slider_bg>
				<banners_slider_hover_bg>#ffffff</banners_slider_hover_bg>
				<banners_slider_disabled_bg>#999999</banners_slider_disabled_bg>
				<banners_slider_icons>white</banners_slider_icons>
				<brands_slider_bg>transparent</brands_slider_bg>
				<brands_slider_hover_bg>#000000</brands_slider_hover_bg>
				<brands_slider_disabled_bg>#eeeeee</brands_slider_disabled_bg>
				<brands_slider_icons>black</brands_slider_icons>
				<pn_slider_bg>#000000</pn_slider_bg>
				<pn_slider_hover_bg>#ffffff</pn_slider_hover_bg>
				<pn_slider_icons>white</pn_slider_icons>
				<products_slider_bg>#000000</products_slider_bg>
				<products_slider_hover_bg>#ffffff</products_slider_hover_bg>
				<products_slider_disabled_bg>#999999</products_slider_disabled_bg>
				<products_slider_icons>white</products_slider_icons>
				<mm_products_slider_bg>#ffffff</mm_products_slider_bg>
				<mm_products_slider_hover_bg>#000000</mm_products_slider_hover_bg>
				<mm_products_slider_icons>black</mm_products_slider_icons>
			</arrows>
			<login>
				<bg_color>#000000</bg_color>
				<bg_image>login_bg.jpg</bg_image>
			</login>
			<slideshow>
				<bg_color>#f7f7f7</bg_color>
				<timeline></timeline>
				<icons>white</icons>
				<nav_bg>#000000</nav_bg>
				<nav_hover_bg>#ffffff</nav_hover_bg>
				<title_bg>#000000</title_bg>
				<title_color>#ffffff</title_color>
				<link_bg></link_bg>
				<link_color>#000000</link_color>
				<link_hover_bg>#000000</link_hover_bg>
				<link_hover_color>#ffffff</link_hover_color>
			</slideshow>
			<product_listing>
				<product_name_font></product_name_font>
				<product_name_color>#000000</product_name_color>
				<rating_bg>#000000</rating_bg>
				<hover_bg>#f0f0f0</hover_bg>
				<hover_title_bg>#000000</hover_title_bg>
				<hover_title_color>#ffffff</hover_title_color>
				<hover_price_color></hover_price_color>
				<!-- grid mode -->
				<action_btn_bg></action_btn_bg>
				<action_btn_hover_bg></action_btn_hover_bg>
				<action_btn_icons>white</action_btn_icons>
				<!-- list mode -->
				<description_hover_color></description_hover_color>
				<action_btn_color></action_btn_color>
				<action_btn_hover_color></action_btn_hover_color>
				<action_btn_list_hover_bg></action_btn_list_hover_bg>
				<action_btn_list_icons>black</action_btn_list_icons>
			</product_listing>
			<product_info>
				<!-- common -->
				<title_font></title_font>
				<title_color></title_color>
				<text_color></text_color>
				<link_bg></link_bg>
				<link_color></link_color>
				<link_hover_bg></link_hover_bg>
				<link_hover_color></link_hover_color>
				<price_font></price_font>
				<price_color></price_color>
				<price_old_color></price_old_color>
				<price_text_color></price_text_color>
				<!-- buttons -->
				<button_color></button_color>
				<button_bg_color></button_bg_color>
				<button_hover_color></button_hover_color>
				<button_bg_hover_color></button_bg_hover_color>
				<button_icons>black</button_icons>
				<!-- common -->
				<action_btn_color></action_btn_color>
				<action_btn_hover_color></action_btn_hover_color>
				<action_btn_list_hover_bg></action_btn_list_hover_bg>
				<action_btn_list_icons>black</action_btn_list_icons>
				<!-- tabs -->
				<tab_color>#ffffff</tab_color>
				<tab_bg_color>#000000</tab_bg_color>
				<tab_hover_color>#000000</tab_hover_color>
				<tab_bg_hover_color></tab_bg_hover_color>
				<tab_content_bg></tab_content_bg>
				<tab_content_color></tab_content_color>
				<tab_content_link_bg></tab_content_link_bg>
				<tab_content_link_color></tab_content_link_color>
				<tab_content_link_hover_bg></tab_content_link_hover_bg>
				<tab_content_link_hover_color></tab_content_link_hover_color>
				<tab_content_th></tab_content_th>
				<!-- review form -->
				<rating_bg>#000000</rating_bg>
				<rating_select_bg></rating_select_bg>
				<rating_select_color></rating_select_color>
				<rating_select_inactive></rating_select_inactive>
				<rating_select_active></rating_select_active>
				<rating_form_bg></rating_form_bg>
				<rating_form_color></rating_form_color>
				<!-- cloud zoom -->
				<cz_border>#000000</cz_border>
				<cz_bg>#000000</cz_bg>
				<cz_bg_opacity>0.07</cz_bg_opacity>
			</product_info>
			<custom>
				<override_css>0</override_css>
			</custom>
		</athlete_appearance>
		<athlete_brands>
			<main>
				<status>1</status>
				<pages>1</pages>
				<brands>1</brands>
				<attribute>manufacturer</attribute>
				<image>png</image>
				<image_width>96</image_width>
				<retina>0</retina>
			</main>
			<slider>
				<brand_autoscroll>0</brand_autoscroll>
				<brand_scroll_items>page</brand_scroll_items>
				<brand_rewind>0</brand_rewind>
			</slider>
		</athlete_brands>
	</default>
</config>