<?xml version="1.0"?>
<config>
    <modules>
        <SaG_Button>
            <version>1.0.0</version>
        </SaG_Button>
    </modules>
    <frontend>
        <layout>
           <updates>
               <dvall>
                   <file>sagbutton.xml</file>
               </dvall>
           </updates>
       </layout>
    </frontend>
    <global>
        <blocks>
            <sagbutton>
                <class>SaG_Button_Block</class>
            </sagbutton>
        </blocks>
        <helpers>
            <sagbutton>
                <class>SaG_Button_Helper</class>
            </sagbutton>
        </helpers>
        <models>
            <sagbutton>
                <class>SaG_Button_Model</class>
            </sagbutton>
        </models>
    </global>
    <default>
        <sag_settings>
            <pp>
                <language>en</language>
                <size>default</size>
                <color>default</color>
            </pp>
            <cp>
                <show_on_list>1</show_on_list>
                <language>en</language>
                <size>default</size>
                <color>default</color>
            </cp>
        </sag_settings>
    </default>
</config>
