<?xml version="1.0"?>
<config>
	<crontab>
		<jobs>
			<aw_core_logger_cron>
				<schedule><cron_expr>1 0 * * *</cron_expr></schedule>
				<run><model>awcore/logger::exorcise</model></run>
			</aw_core_logger_cron>
			
		</jobs>
	</crontab>
    <modules>
        <AW_Core>
            <version>1.0.2</version><platform>ce</platform>
        </AW_Core>
    </modules>
	<global>
		<models>
			<awcore>
				<class>AW_Core_Model</class>
				<resourceModel>awcore_mysql4</resourceModel>
			</awcore>
			<awcore_mysql4>
				<class>AW_Core_Model_Mysql4</class>
				<entities>
					<logger>
						<table>aw_core_logger</table>
					</logger>
				</entities>
			</awcore_mysql4>
		</models>
		<resources>
			<awcore_setup>
				<setup>
					<module>AW_Core</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</awcore_setup>
			<awcore_write>
				<connection>
					<use>core_write</use>
				</connection>
			</awcore_write>
			<awcore_read>
				<connection>
					<use>core_read</use>
				</connection>
			</awcore_read>
		</resources>
		<blocks>
			<awcore>
				<class>AW_Core_Block</class>
			</awcore>
		</blocks>
		
		<helpers>
			<awcore>
				<class>AW_Core_Helper</class>
			</awcore>
		</helpers>
	</global>	
	<frontend>
		<layout>
			<updates>
				<awcore>
					<file>aw_core.xml</file>
				</awcore>
			</updates>
		</layout>
		<translate>
            <modules>
                <AW_Core>
                    <files>
                        <default>AW_Core.csv</default>
                    </files>
                </AW_Core>
            </modules>
        </translate>

		<routers>
			<awcore>
				<use>standard</use>
				<args>
					<module>AW_Core</module>
					<frontName>awcore</frontName>
				</args>
			</awcore>
		</routers>	
	</frontend>	
	<admin>
		<routers>
			<awcore_admin>
				<use>admin</use>
				<args>
					<module>AW_Core</module>
					<frontName>awcore_admin</frontName>
				</args>
			</awcore_admin>
		</routers>	
	</admin>	
	<adminhtml>
		<translate>
			<modules>
				<AW_Core>
					<files>
						<default>AW_Core.csv</default>
					</files>
				</AW_Core>
			</modules>
		</translate>

		 <layout>
            <updates>
                <awcore>
                    <file>aw_core.xml</file>
                </awcore>
            </updates>
        </layout>
	</adminhtml>	
	<default>
		<awall>
			<awcore>
				<logger_store_days>90</logger_store_days>
				<logger_enabled>1</logger_enabled>
			</awcore>
		</awall>
	</default>	
</config>	