<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Seonavigation>
            <version>0.1.3</version>
        </Magestore_Seonavigation>
    </modules>
    <frontend>
        <layout>
            <updates>
                <seonavigation>
                    <file>seonavigation.xml</file>
                </seonavigation>
            </updates>
        </layout>
		<translate>
            <modules>
                <Magestore_Seonavigation>
                    <files>
                        <default>Magestore_Seonavigation.csv</default>
                    </files>
                </Magestore_Seonavigation>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
		<translate>
            <modules>
                <Magestore_Seonavigation>
                    <files>
                        <default>Magestore_Seonavigation.csv</default>
                    </files>
                </Magestore_Seonavigation>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <seonavigation>
                <class>Magestore_Seonavigation_Model</class>
                <resourceModel>seonavigation_mysql4</resourceModel>
            </seonavigation>
            <seonavigation_mysql4>
                <class>Magestore_Seonavigation_Model_Mysql4</class>
                <entities>
                    <seonavigation>
                        <table>seonavigation</table>
                    </seonavigation>
                </entities>
            </seonavigation_mysql4>
            <catalog>
				<rewrite>
					<layer_filter_item>Magestore_Seonavigation_Model_Catalog_Layer_Filter_Item</layer_filter_item>
				</rewrite>
			</catalog>
        </models>
        <resources>
            <seonavigation_setup>
                <setup>
                    <module>Magestore_Seonavigation</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </seonavigation_setup>
            <seonavigation_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </seonavigation_write>
            <seonavigation_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </seonavigation_read>
        </resources>
        <blocks>
            <seonavigation>
                <class>Magestore_Seonavigation_Block</class>
            </seonavigation>
            <catalog>
				<rewrite>
					<layer_state>Magestore_Seonavigation_Block_Catalog_Layer_State</layer_state>
				</rewrite>
			</catalog>
        </blocks>
        <helpers>
            <seonavigation>
                <class>Magestore_Seonavigation_Helper</class>
            </seonavigation>
        </helpers>
        <events>
			<controller_action_predispatch_cms_index_noRoute>
				<observers>
                    <seonavigation_observer>
                        <class>seonavigation/observer</class>
                        <method>cmsIndexNoroute</method>
                    </seonavigation_observer>
                </observers>
			</controller_action_predispatch_cms_index_noRoute>
		</events>
    </global>
    <default>
		<seoplus>
			<seonavigation>
				<enable>0</enable>
				<cache>1</cache>
				<category>category-{name}</category>
				<price>{code}-from-{from}-to-{to}</price>
				<option>{code}-{text}</option>
				<separator>/</separator>
				<meta_title>{default} filtered by {attribute} - {value}</meta_title>
				<meta_keywords>{default},{attribute},{value}</meta_keywords>
				<meta_description>{default} filtered by {attribute} equal {value}</meta_description>
				<canonical_tag>0</canonical_tag>
			</seonavigation>
		</seoplus>
	</default>
</config>