<?xml version="1.0"?>
<config>
	<sections>
		<seoplus>
			<groups>
				<seonavigation translate="label">
					<label>SEO Navigation Configuration</label>
					<frontend_type>text</frontend_type>
					<sort_order>20</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enable translate="label">
							<label>Enable URL Rewrite for Product Navigation</label>
							<frontend_type>select</frontend_type>
							<sort_order>10</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment></comment>
						</enable>
						<cache translate="label">
							<label>Enable Cache Rewrite for Navigation</label>
							<frontend_type>select</frontend_type>
							<sort_order>20</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment></comment>
						</cache>
						<category translate="label">
							<label>Category Option Pattern on rewritten URL</label>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment><![CDATA[{name}: category name<br /> {id}: category's id]]></comment>
						</category>
						<price translate="label">
							<label>Price Option Pattern on rewritten URL</label>
							<frontend_type>text</frontend_type>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment><![CDATA[{code}: price attribute's code<br /> {from}: from price level<br /> {to}: to price level<br />]]></comment>
						</price>
						<option translate="label">
							<label>Other Attribute Option Pattern on rewritten URL</label>
							<frontend_type>text</frontend_type>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment><![CDATA[{code}: attribute's code<br /> {valueid}: value's id<br /> {text}: value's text]]></comment>
						</option>
						<separator translate="label">
							<label>Separator Between Attributes on rewritten URL</label>
							<frontend_type>text</frontend_type>
							<sort_order>60</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment></comment>
						</separator>
						<meta_title translate="label">
							<label>Title Template</label>
							<frontend_type>text</frontend_type>
							<sort_order>70</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment><![CDATA[{default}: default title of page.<br />{attribute}: name of filter attribute<br />{value}: value of filter attribute]]></comment>
						</meta_title>
						<meta_keywords translate="label">
							<label>Meta Keywords Template</label>
							<frontend_type>text</frontend_type>
							<sort_order>80</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment><![CDATA[{default}: default meta keywords of page.<br />{attribute}: name of filter attribute<br />{value}: value of filter attribute]]></comment>
						</meta_keywords>
						<meta_description translate="label">
							<label>Meta Description Template</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>90</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment><![CDATA[{default}: default meta description of page.<br />{attribute}: name of filter attribute<br />{value}: value of filter attribute]]></comment>
						</meta_description>
						<canonical_tag translate="label">
							<label>Use Canonical Link Meta Tag For Filter Page</label>
							<frontend_type>select</frontend_type>
							<sort_order>100</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment></comment>
						</canonical_tag>
					</fields>
				</seonavigation>
			</groups>
		</seoplus>
	</sections>
</config>