<?xml version="1.0"?>
<config>
  <modules>
    <Magebuzz_Dailydeal>
      <version>0.1.7</version>
    </Magebuzz_Dailydeal>
  </modules>
  <frontend>
    <routers>
      <dailydeal>
        <use>standard</use>
        <args>
          <module>Magebuzz_Dailydeal</module>
          <frontName>dailydeal</frontName>
        </args>
      </dailydeal>
    </routers>
    <layout>
      <updates>
        <dailydeal>
          <file>dailydeal.xml</file>
        </dailydeal>
      </updates>
    </layout>
    <translate>
      <modules>
        <Magebuzz_Dailydeal>
          <files>
            <default>Magebuzz_Dailydeal.csv</default>
          </files>
        </Magebuzz_Dailydeal>
      </modules>
    </translate>
    <events>
      <catalog_product_get_final_price>
        <observers>
          <magebuzz_dailydeal_observer_finalprice>
            <type>singleton</type>
            <class>dailydeal/observer</class>
            <method>catalog_product_get_final_price</method>
          </magebuzz_dailydeal_observer_finalprice>
        </observers>
      </catalog_product_get_final_price>
			<catalog_block_product_list_collection>
				<observers>
          <magebuzz_dailydeal_observer_product_list_collection>
            <type>singleton</type>
            <class>dailydeal/observer</class>
            <method>setFinalPriceCatalog</method>
          </magebuzz_dailydeal_observer_product_list_collection>
        </observers>
			</catalog_block_product_list_collection>
    </events>
  </frontend>
  <admin>
    <routers>
      <dailydealadmin>
        <use>admin</use>
        <args>
          <module>Magebuzz_Dailydeal</module>
          <frontName>dailydealadmin</frontName>
        </args>
      </dailydealadmin>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <dailydeal>
          <file>dailydeal.xml</file>
        </dailydeal>
      </updates>
    </layout>
    <translate>
      <modules>
        <Magebuzz_Dailydeal>
          <files>
            <default>Magebuzz_Dailydeal.csv</default>
          </files>
        </Magebuzz_Dailydeal>
      </modules>
    </translate>
  </adminhtml>   
  <global>
    <events>
      <sales_order_place_after>
        <observers>
          <magebuzz_dailydeal_observer_order_place_after>
            <type>singleton</type>
            <class>dailydeal/observer</class>
            <method>sales_order_place_after</method>
          </magebuzz_dailydeal_observer_order_place_after>
        </observers>
      </sales_order_place_after>			
    </events>
    <models>
      <dailydeal>
        <class>Magebuzz_Dailydeal_Model</class>
        <resourceModel>dailydeal_mysql4</resourceModel>
      </dailydeal>
      <dailydeal_mysql4>
        <class>Magebuzz_Dailydeal_Model_Mysql4</class>
        <entities>
          <!--<dailydeal>-->
            <!--<table>dailydeal</table>-->
          <!--</dailydeal>-->
          <deal>
            <table>dailydeal_deal</table>
          </deal>
          <mail>
            <table>dailydeal_deal_mail</table>
          </mail>
          <dailydeal_deal_store>
            <table>dailydeal_deal_store</table>
          </dailydeal_deal_store>
        </entities>
      </dailydeal_mysql4>
    </models>
    <resources>
      <dailydeal_setup>
        <setup>
          <module>Magebuzz_Dailydeal</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </dailydeal_setup>
      <dailydeal_write>
        <connection>
          <use>core_write</use>
        </connection>
      </dailydeal_write>
      <dailydeal_read>
        <connection>
          <use>core_read</use>
        </connection>
      </dailydeal_read>
    </resources>
    <blocks>
      <dailydeal>
        <class>Magebuzz_Dailydeal_Block</class>
      </dailydeal>
    </blocks>
    <helpers>
      <dailydeal>
        <class>Magebuzz_Dailydeal_Helper</class>
      </dailydeal>
    </helpers>
    <template>
      <email>
        <dailydeal_deal_subscriber_email_template>
          <label>Dailydeal Email</label>
          <file>dailydeal/dailydeal_email.html</file>
          <type>html</type>
        </dailydeal_deal_subscriber_email_template>
      </email>
    </template>			
  </global>
  <default>
    <dailydeal>
      <general>
        <enable>1</enable>
        <include_jquery>1</include_jquery>
        <show_previous_deal>1</show_previous_deal>
        <show_coming_deal>1</show_coming_deal>
        <show_on_sidebar>1</show_on_sidebar>
        <enable_sharing>1</enable_sharing>
        <display_in_category_page>1</display_in_category_page>
        <round_saving>0</round_saving>
				<enable_paging>1</enable_paging>
				<show_all_deals>0</show_all_deals>
				<deals_grid_per_page_values>9,15,30</deals_grid_per_page_values>
				<show_on_sidebar>right</show_on_sidebar>
				<round_saving>1</round_saving>
        <sharing_template_message>Hurry Up! Only remaining %d %s are on SALE before %s GMT on %s</sharing_template_message>
      </general>
      <deal_subscriber>
        <enable_subscription>0</enable_subscription>
        <email_sender>general</email_sender>
        <email_template>dailydeal_deal_subscriber_email_template</email_template>
        <intro_message>Please enter your email to receive notification about new daily deals.</intro_message>
        <thanks_message>Thank you for your subscription to our daily deal newsletter.</thanks_message>
      </deal_subscriber>
    </dailydeal>
  </default>

  <crontab>
    <jobs>
    <!-- This cron will be executed every day at 07:00 AM <cron_expr>0 7 * * *</cron_expr> -->
      <magebuzz_dailydeal_send_email_subscriber>
        <schedule>
          <cron_expr>0 7 * * *</cron_expr>
        </schedule>
        <run>
          <model>dailydeal/observer::sendEmailSubscriber</model>
        </run>
      </magebuzz_dailydeal_send_email_subscriber>
    </jobs>
  </crontab>
</config>